/java/ngps/ngps/build/
/java/ngps/ngps/dist/
/java/ngps/ngps/nbproject/private/
/Python/
*__pycache__*
Config/*.py
._*
.DS_Store
*sublime*
*.swp

/GuiderGUI/jog.ini
/GuiderGUI/buttons_guider.ans
/GuiderGUI/buttons_slicev.ans

