/java/ngps/ngps-acam/build/
/java/ngps/ngps-acam/dist/
/java/ngps/ngps-acam/nbproject/private/
/java/ngps/ngps/build/
/java/ngps/ngps/dist/
/java/ngps/ngps/nbproject/private/
/Python/
*__pycache__*
Config/*.py
