#!/bin/bash

# Config file for DS9 bash scripts which run the ACAM and slice-viewer GUIs
# Additional settings are in 
#   /home/developer/Software/Config/acamd.cfg.in

camera=$1  # guider or slicev

guipath=$( cd -- "$( dirname -- "${BASH_SOURCE[0]}" )" &> /dev/null && pwd )  # Directory of this file

if [ ${camera,,} = 'guider' ]; then

	id=GUIDER										# Unique ds9 window name
  	demon=acam                  # demon command
	startfile=$guipath/graphics/NGPSsplash_guider.png		# PNG image to display at startup
	ansfile=$guipath/buttons_guider.ans 			# ds9 analysis/buttons file with updated parameters 
	anstemplate=$guipath/template_guider.ans 		# ds9 analysis/buttons template
	cmap=cool 										# color map
	geometry=625x850 								# window dimensions
	fitstype=fits 									# how to interpret FITS file
	grabdir=$HOME/Desktop/Framegrabs 						# directory where "grab fits" button saves to
	synccommand="acam guideset" 					# daemon command to push settings to this GUI
	headsup_fontsize=12 							# font size for displayed camera settings
	headsup_fontcolor=yellow 						# font color for displayed camera settings
	headsup_font=helvetica							# font name
	headsup_fontstyle=bold							# font style

elif [ ${camera,,} = 'slicev' ]; then

	id=SLICEVIEW									# Unique ds9 window name
 	demon=scam                    # demon command
	startfile=$guipath/graphics/NGPSsplash_slicev.png		# PNG image to display at startup
	ansfile=$guipath/buttons_slicev.ans				# ds9 analysis/buttons file with updated parameters 
	anstemplate=$guipath/template_slicev.ans		# ds9 analysis/buttons template
	cmap=magma										# color map
	geometry=625x850								# window dimensions
	fitstype="mosaicimage wcs"						# how to interpret FITS file
	grabdir=$HOME/Desktop/Framegrabs 						# directory where "grab fits" button saves to
	synccommand="scam guiset"						# daemon command to push settings to this GUI
	headsup_fontsize=13								# font size for displayed camera settings
	headsup_fontcolor=yellow						# font color for displayed camera settings
	headsup_font=helvetica							# font name
	headsup_fontstyle=bold							# font style
	jogfile=/tmp/jog.ini 						# file containing the current scam jog setting
	graphic_color=cyan								# color of graphic regions (slit, TCS)

else echo "Invalid camera name.  Must be guider or slicev"

fi
